* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("./img/bg.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("./img/cursor.png"), auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.books {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
}
img {
  width: 100%;
}
.books_front,
.books_back {
  width: 50%;
  transition: 0.3s all ease-in-out;
}
.books_front:hover,
.books_back:hover {
  transform: translateY(10px);
}
